.title {
  text-transform: uppercase;
  padding: 20px 0px;
  font-size: 40px;
}
.container {
  max-width: calc(375px - 60px);
  margin: 0 auto;
}
.header {
  margin-top: 10px;
}
.dogs {
  margin: 40px 0;
}
