/* CONTAINER */

/* MAIN CONTAINER*/
.home {
  width: 100%;
  position: relative;
  border: 3px red solid;
  padding: 0 25px;
}

/* HEADER */
.header {
  margin-top: 10px;
}
.header_title {
  text-transform: uppercase;
  padding: 20px 0px;
  font-size: 40px;
}

/* DOG CARDS */
.dogs {
  margin: 40px 0;
}

.dogs div + div {
  margin-top: 35px;
}
