/* CONTAINER */
.container {
  max-width: calc(375px - 60px);
  margin: 0 auto;
}

/* HEADER */
.header {
  margin-top: 10px;
}
.header_title {
  text-transform: uppercase;
  padding: 20px 0px;
  font-size: 40px;
}

/* DOG CARDS */
.dogs {
  margin: 40px 0;
}

.dogs div + div {
  margin-top: 35px;
}
